FrameWork_MQTT_Motores.json
[
    {
        "id": "dd0f356263892ca1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3c84ae808c050bf",
        "type": "aedes broker",
        "z": "dd0f356263892ca1",
        "name": "",
        "mqtt_port": "80",
        "mqtt_ws_bind": "path",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "ws/mqtt",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "7f7e4aaa75352fc6"
            ],
            [
                "222abb7837753923",
                "9af016ee20a84646"
            ]
        ]
    },
    {
        "id": "7f7e4aaa75352fc6",
        "type": "debug",
        "z": "dd0f356263892ca1",
        "name": "Broker Status Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "222abb7837753923",
        "type": "debug",
        "z": "dd0f356263892ca1",
        "name": "Broker Publish Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "9af016ee20a84646",
        "type": "function",
        "z": "dd0f356263892ca1",
        "name": "Filtrar Json",
        "func": "msg.payload = msg.payload.packet.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "d7bef2b0dcf00a40"
            ]
        ]
    },
    {
        "id": "8ec13c19db6f21b6",
        "type": "ui_gauge",
        "z": "dd0f356263892ca1",
        "name": "Dashboard de Temperatura ",
        "group": "43619eb6b9a95c7d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura ",
        "label": "ºC",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 860,
        "y": 480,
        "wires": []
    },
    {
        "id": "d7bef2b0dcf00a40",
        "type": "buffer-parser",
        "z": "dd0f356263892ca1",
        "name": "Transformar Buffer",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "string",
                "name": "time",
                "offset": 12,
                "length": 20,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "string",
                "name": "temp",
                "offset": 78,
                "length": 8,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "cd210e4edf554aa6"
            ]
        ]
    },
    {
        "id": "61b096ffdabfad80",
        "type": "cloudant out",
        "z": "dd0f356263892ca1",
        "name": "BD",
        "cloudant": "",
        "database": "dados4012",
        "service": "node-red-wise-4012-cloudant-1662571681709-51547",
        "payonly": true,
        "operation": "insert",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "cd210e4edf554aa6",
        "type": "function",
        "z": "dd0f356263892ca1",
        "name": "Converter Json",
        "func": "var msgauge = { payload: null}\n\nvolts = msg.payload.temp;\nvolts = volts/1000; //Converte o valor raw de leitura para tensão.\ntemp = (volts * 150) / 10; // Transformação de tensão em tempetatura \n\nmsg.payload.temp = temp.toFixed(2); //Payload para banco\nmsgauge.payload = temp; //Payload para dashboard\n\nif(volts == 0 || isNaN(volts) ){\n    return [null, null, null];\n} else {\n    return [msg, null, msgauge];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 380,
        "wires": [
            [
                "dce6d77147f2755b",
                "61b096ffdabfad80"
            ],
            [],
            [
                "8ec13c19db6f21b6"
            ]
        ]
    },
    {
        "id": "dce6d77147f2755b",
        "type": "debug",
        "z": "dd0f356263892ca1",
        "name": "Debug de Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "43619eb6b9a95c7d",
        "type": "ui_group",
        "name": "Wise 4012",
        "tab": "93c6bf0771bf5891",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93c6bf0771bf5891",
        "type": "ui_tab",
        "name": "KIT IOT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]